{% extends 'base.html' %}

{% block title %}
Редактор гороскопов
{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1>Добавьте свой гороскоп</h1>
    <form method="post">
        <input type="text" name="title" id="title" class="form-control" placeholder="Введите знак зодиака"><br>
        <textarea name="description" id="desc" class="form-control" placeholder="Введите гороскоп"></textarea><br>
        <input type="submit" class="btn btn-success" value="Добавить">
    </form>
</div>
{% endblock %}